@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Sentinel";
}

@section VueComponents {
    <partial name="Components/EnvironmentSelect"/>
    <partial name="Components/NavBar"/>
    <partial name="Components/Search"/>
    <partial name="Components/Spinner"/>
    <partial name="Views/Environments"/>
    <partial name="Views/Overview"/>
    <partial name="Views/Issue"/>
}

<nav-bar :environments="environments" @@no-environments="loadEnvironments"></nav-bar>

<div class="h-screen">
    <main>
        <router-view :environments="environments"></router-view>
    </main>
</div>
