<template id="environments">
    <div class="flex justify-center">
        <div class="p-2">
            <br/>

            <span class="text-4xl text-slate-900">Select an environment</span>
            
            <p>&nbsp;</p>

            <div class="flex justify-center">
                <div v-if="environments.length > 0">
                    <ul class="list-none, pl-0">
                        <li v-for="e in environments">
                            <router-link :to="{ name: 'overview', params: { env: e }}" class="menu-link-brand font-bold no-underline text-4xl max-w-full block p-2">
                                {{ e }}
                            </router-link>
                        </li>
                    </ul>
                </div>
                <div v-else>
                    <spinner></spinner>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="module">
    components["environments"] = {
        template: "#environments",
        data() {
            return {
                pods: {},
                podData: [],
            }
        },
        props: ['environments'],        
        computed: {},
    };
    
    routes.push({path:'/', name:"environments", component: components["environments"]})    
</script>

<style>
</style>