<template id="environment-select">
  <div ref="el" class="relative py-1" aria-label="Select Environment">
    <button @@click="isOpen = !isOpen" type="button"
            class="h-9 w-64 items-center flex justify-end box-border cursor-pointer border border-gray-300 outline-0 rounded 
                bg-gray-200 text-gray-500 leading-snug outline-none focus:text-gray-700 focus:bg-gray-100 focus:border-gray-500">

      <!-- Label -->
      <template v-if="$route.params?.env">
        <div class="flex items-center h-9 absolute left-0 bg-transparent truncate leading-snug pl-3.5">
          Environment: {{ $route.params?.env }}
        </div>
      </template>
      <template v-else-if="values && values?.length > 0">
        <div class="flex items-center h-9 absolute left-0 bg-transparent leading-snug pl-3.5">
          Select environment
        </div>
      </template>
      
      <!-- Spinner -->
      <template v-if="!values || values?.length === 0">
        <div class="w-6 h-6 z-10 mr-3.5 animate-spin fill-gray-500/[.6] flex-shrink-0 flex-grow-0" aria-hidden="true">
          <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M456.433 371.72l-27.79-16.045c-7.192-4.152-10.052-13.136-6.487-20.636 25.82-54.328 23.566-118.602-6.768-171.03-30.265-52.529-84.802-86.621-144.76-91.424C262.35 71.922 256 64.953 256 56.649V24.56c0-9.31 7.916-16.609 17.204-15.96 81.795 5.717 156.412 51.902 197.611 123.408 41.301 71.385 43.99 159.096 8.042 232.792-4.082 8.369-14.361 11.575-22.424 6.92z">
            </path>
          </svg>
        </div>

      </template>

      <!-- Caret -->
      <template v-if="values && values.length > 0 && selected.length === 0">
        <span class="w-6 h-6 py-px box-content mr-1 relative z-10 opacity-40 flex-shrink-0 flex-grow-0 transition-transform transform pointer-events-none" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
          </svg>
        </span>
      </template>
    </button>

    <!-- Options -->
    <div id="environment-options" tabindex="-1" data-ns="1"
         class="max-h-60 absolute cursor-pointer -left-px -right-px transform translate-y-2 border border-gray-400 
            -mt-px overflow-y-auto z-50 bg-gray-100 flex flex-col rounded"
         :class="isOpen ? 'visible' : 'hidden'">
      
      <div class="flex flex-col p-0 m-0 list-none" role="listbox">
        <template v-if="values && values.length > 0">
          <template v-for="s in values">
            <div v-if="s.space == $route.params.space && s.environments.includes($route.params.env)"
                class="text-sm bg-gray-300 text-gray-800 px-2 border-y border-gray-400">
              Current: {{ s.root}}
            </div>
            <template v-if="s.space == $route.params.space && s.environments.includes($route.params.env)" 
                      v-for="e in s.environments">
              <div class="aria-selected:font-medium aria-selected:text-black bg-gray-100 text-gray-700 hover:bg-gray-200 hover:text-brand">
                <router-link class="py-2 px-4 text-md font-normal block whitespace-nowrap" @@click="selectEnvironment"
                      :to="{ name: 'issues', params: { env: e, space: s.space, type: $route.params.type }, query: $route.query}">
                  {{ e }}
                </router-link>
              </div>
            </template>
          </template>
          <template v-for="s in values">
            <div v-if="s.space != $route.params.space || !s.environments.includes($route.params.env)"
                 class="text-sm bg-gray-300 text-gray-800 px-2 border-y border-gray-400">
              Namespace: {{ s.root}}
            </div>
            <template v-if="s.space != $route.params.space || !s.environments.includes($route.params.env)" v-for="e in s.environments">
              <div class="aria-selected:font-medium aria-selected:text-black bg-gray-100 text-gray-700 hover:bg-gray-200 hover:text-brand">
                <router-link class="py-2 px-4 text-md font-normal block whitespace-nowrap" @@click="selectEnvironment"
                      :to="{ name: 'issues', params: { env: e, space: s.space, type: $route.params.type }, query: $route.query}">
                  {{ e }}
                </router-link>
              </div>
            </template>
          </template>
        </template>
      </div>
      
      <template v-if="values && values.length === 0" name="loading">
        <div class="py-1 px-1 text-gray-300 bg-gray-200 text-left">
          Loading...
        </div>
      </template>
    </div>
  </div>
</template>

<script type="module">
import { ref, onMounted } from 'vue'
  
let setup = (props, ctx) => {
  
  const noOptions = ref(false);
  const isOpen = ref(false);
  const selected = ref([]);
  const el = ref(null);
  
  let selectEnvironment = (event) =>{
    isOpen.value = false;
    
    var div = document.getElementById('environment-options');
    div.scrollTop = 0;
  }

  let clickHandler = (event) => {
    const { target } = event;
  
    if (!el?.value?.contains(target)) {
       isOpen.value = false;
    }
  }
  
  onMounted(async () =>{
    document.addEventListener('click', clickHandler);
  })
  
  return {
    noOptions, isOpen, selected, el, 
    selectEnvironment, clickHandler, onMounted
  }
}

components["environment-select"] = { template: "#environment-select", props: ['values'], setup};
</script>
